@charset "UTF-8";
/* COLORES */
/* FIN DE COLORES */
/* MÁRGENES Y PADDINGS */
/* FIN DE MÁRGENES Y PADDINGS */
/* INTERLINEADOS */
/* FIN DE INTERLINEADOS */
/* BORDES */
/* FIN DE BORDES */
/* DISPLAY */
.foto-miembro, .foto-proyecto, .imgrec.uno, .imgrec.dos, .vid-recursos, .valores, .misiones, .elemento-seccion {
  display: grid;
  place-items: center;
}

/* FIN DE DISPLAY */
/* IMÁGENES DE FONDO */
.fondo-contacto, .fondo-estrategias, .fondo-recursos, .fondo-nosotros {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* FIN DE IMÁGENES DE FONDO */
/* MÁRGENES SECCIONES PRINCIPALES */
.seccion-principal2, .seccion-principal {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* FIN DE MÁRGENES SECCIONES PRINCIPALES */
/* TÍTULOS Y SUBTÍTULOS */
.titulo-seccion, .seccion-principal .articulo1 .titulo-articulo {
  text-align: center;
  color: #4a8064;
  font-size: x-large;
}

.subtitulo-seccion.mapa, .subtitulo-seccion.comunidad {
  font-weight: normal;
  margin-bottom: 30px;
}

/* FIN DE TÍTULOS Y SUBTÍTULOS */
/* ARTÍCULOS */
.articulo-estrategias, .seccion-principal2 .articulo2, .seccion-principal .articulo1 {
  text-align: justify;
  line-height: 25px;
}

/* FIN DE ARTÍCULOS */
/* TEXTOS */
.leer-mas, .botones-recursos1 .botonrec, .botones-recursos2 .botonrec, .boton, .titulo-seccion, .subtitulo-seccion {
  text-align: center;
  font-weight: bold;
}

/* FIN DE TEXTOS */
/* BORDES */
.imagen-estrategias, .imgrec.uno .imagen-recursos, .imgrec.uno .imagen-recursos2, .imgrec.dos .imagen-recursos, .imgrec.dos .imagen-recursos2, .vid-recursos .videorecursos, .img-icono, .video {
  border-style: dotted;
  border-width: 5px;
  border-color: #89c4a6;
}

.articulo-estrategias, .articulo-recursos, .seccion-principal2 .articulo2 {
  border-bottom: dashed;
  border-color: #7EAA92;
}

/* FIN DE BORDES */
/* CARDS */
.card.dos, .card {
  text-align: center;
  color: #559374;
}

/* FIN DE CARDS */
/* WIDTH */
/* FIN DE WIDTH */
/* HEIGHT */
/* FIN DE HEIGHT */
/* CUESTIONES GENERALES*/
/*** Márgenes y paddings ***/
* {
  margin: 0px;
  padding: 0px;
}

/*** Fin de Márgenes y paddings ***/
/*** Títulos y subtítulos ***/
.titulo-seccion, .subtitulo-seccion {
  color: #4a8064 !important;
}

.titulo-seccion {
  font-size: x-large !important;
  margin-bottom: 30px;
}

.subtitulo-seccion {
  font-size: x-large;
}

/*** Fin de Títulos y subtítulos ***/
/*** Botones ***/
.boton {
  background-color: #76aa8f;
  border-radius: 30px;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  max-width: fit-content;
}
.boton:hover {
  background: #9ED2BE !important;
}

/*** Fin de Botones ***/
/* FIN DE CUESTIONES GENERALES */
/* ELEMENTOS COMUNES DEL MAIN */
/*** Banner ***/
.banner {
  width: 100%;
  margin-top: 30px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #C8E4B2;
  border-width: 3px;
}

/*** Fin de Banner ***/
/*** Videos embebidos ***/
.video {
  width: 560px;
  height: 360px;
  border-radius: 50px;
}

/*** Fin de Videos embebidos ***/
/* FIN DE ELEMENTOS COMUNES DEL MAIN */
/* HEADER */
.custom-header {
  background-color: #80a993;
  border-bottom-style: solid;
  border-bottom-color: #C8E4B2;
  border-width: 7px;
}
.custom-header .logo {
  height: 100px;
  margin: 20px;
  padding-left: 20px;
}
.custom-header .navbar-toggler {
  color: #ffffff !important;
  margin-right: 30px;
}
.custom-header .nav-link, .custom-header .nav-link.active {
  color: #ffffff !important;
  letter-spacing: 2px;
  align-items: center !important;
  justify-content: center !important;
  align-content: center;
}
.custom-header .nav-link:hover, .custom-header .nav-link.active:hover {
  color: #fddc09 !important;
  border-bottom: 2px !important;
}

/* FIN DE HEADER */
/* FOOTER */
footer {
  background-color: #80a993;
  margin-top: 50px;
  border-top-style: solid;
  border-top-color: #C8E4B2;
  border-width: 7px;
}
footer .logo-footer {
  align-items: center;
  justify-content: center;
  margin-left: -5px;
  margin-bottom: 20px;
}
footer .enlace-footer {
  list-style-type: none;
  letter-spacing: 2px;
}
footer ul p {
  letter-spacing: 2px;
}

/* FIN DE FOOTER */
/* PÁGINA INICIO */
/*** Carrusel ***/
.carousel-inner, .carousel-item {
  margin: 10px 0px 10px 0px;
  height: 500px;
}

.carousel-control-prev, .carousel-control-next {
  margin-top: 350px;
}

.carousel-caption {
  font-size: x-large;
  font-weight: bolder;
}

.carousel-item h5, .leyenda-slider {
  margin-right: 600px;
  margin-left: 40px;
  color: #5ba6a6;
}

/*** Fin de Carrusel ***/
/*** Sección principal ***/
.seccion-principal .articulo1 {
  margin-left: 30px;
}
.seccion-principal .articulo1 .titulo-articulo {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*** Fin de Sección principal ***/
/*** Secciones secundarias ***/
.elemento-seccion .imgseccion:hover {
  filter: opacity(50%);
  animation: shake-horizontal 0.8s linear both;
}
.elemento-seccion .enlace-titulo {
  text-decoration: none;
  color: #7fab94;
}
.elemento-seccion .enlace-titulo:hover {
  color: #9ED2BE;
}
.elemento-seccion .badge.inicio {
  margin-bottom: 150px !important;
  margin-left: 250px !important;
}

@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
/*** Fin de Secciones secundarias ***/
/* FIN DE PÁGINA INICIO */
/* PÁGINA NOSOTROS */
/*** Imagen de fondo de la página ***/
.fondo-nosotros {
  background-image: url(../img/Fondo2.webp);
}

/*** Fin de imagen de fondo de la página ***/
/*** Sección principal ***/
.seccion-principal2 .articulo2 {
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 15px;
}
.seccion-principal2 .articulo2 .titulo-articulo {
  color: #4a8064;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
}
.seccion-principal2 .video.articulo2 {
  margin-top: -10px;
  margin-left: -30px;
  width: 500px;
}

/*** Fin de Sección principal ***/
/*** Sección Valores ***/
.valores {
  margin-bottom: 50px;
}

/*** Fin de Sección Valores ***/
/*** Sección Misiones ***/
.img-icono {
  border-radius: 80px;
  box-shadow: 0px 11px 16px rgba(8, 8, 8, 0.741) !important;
}
.img-icono:hover {
  animation: wobble-horizontal-top 0.8s linear both;
}

.img-icono.misiones {
  border-color: rgb(70, 105, 58);
}

@keyframes wobble-horizontal-top {
  0%, 100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
/*** Fin de Sección Misiones ***/
/*** Texto debajo de los íconos ***/
.texto-icono {
  color: #4a8064;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

.texto-icono.misiones {
  color: rgb(70, 105, 58);
}

/*** Fin de Texto debajo de los íconos ***/
/* FIN DE PÁGINA NOSOTROS */
/* PÁGINA RECURSOS */
/*** Banner ***/
.banner-recursos {
  margin-top: 2px;
}

/*** Fin de Banner ***/
/*** Imagen de fondo de la página ***/
.fondo-recursos {
  background-image: url(../img/Fondo3.webp);
}

/*** Fin de imagen de fondo de la página ***/
/*** Artículo principal ***/
.titulo-seccion.Recursos {
  margin-top: 60px;
}

.vid-recursos .videorecursos {
  width: 560px;
  height: 360px;
  margin-bottom: 15px;
  border-radius: 50px;
}

.articulo-recursos {
  font-size: large;
  text-align: justify;
  line-height: 30px;
  padding: 15px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
}

/*** Fin de Artículo principal ***/
/*** Subtítulos secciones secundarias ***/
.subtitulo-seccion.rec {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*** Fin de Subtítulos secciones secundarias ***/
/*** Imágenes Secciones secundarias ***/
.imgrec.uno, .imgrec.dos {
  margin-top: 10px;
  width: 100%;
}
.imgrec.uno .imagen-recursos, .imgrec.uno .imagen-recursos2, .imgrec.dos .imagen-recursos, .imgrec.dos .imagen-recursos2 {
  border-radius: 50px;
}

/*** Fin de Imágenes Secciones secundarias ***/
/*** Botones Secciones secundarias ***/
.botones-recursos1, .botones-recursos2 {
  display: grid;
}
.botones-recursos1 .botonrec, .botones-recursos2 .botonrec {
  background-color: #76aa8f;
  padding: 20px;
  display: inline-table;
  border-radius: 30px;
  color: #ffffff;
  font-size: large;
  text-decoration: none;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
  width: 300px;
}
.botones-recursos1 .botonrec:hover, .botones-recursos2 .botonrec:hover {
  background: #9ED2BE;
}

.botones-recursos2 {
  place-items: end;
}

/*** Fin de Botones Secciones secundarias ***/
/* FIN DE PÁGINA RECURSOS */
/* PÁGINA ESTRATEGIAS */
/*** Imagen de fondo de la página ***/
.fondo-estrategias {
  background-image: url(../img/Fondo4.webp);
}

/*** Fin de imagen de fondo de la página ***/
/*** Títulos ***/
.titulo-seccion {
  font-weight: bolder;
  margin-top: 50px;
}

.titulo-seccion.seccion2-estrategias {
  margin-bottom: 30px;
}

/*** Fin de Títulos ***/
/*** Artículos ***/
.articulo-estrategias {
  font-size: 17px;
  margin-bottom: 30px;
}
.articulo-estrategias .titulo-articulo-estrategias {
  text-align: center;
  color: #7fab94;
  font-size: larger;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 25px;
}

/*** Fin de Artículos ***/
/*** Imágenes ***/
.imagen-estrategias {
  align-items: center;
  border-radius: 50px;
  margin-left: 50px;
}

/*** Fin de Imágenes ***/
/*** Botón y texto Leer más ***/
.leer-mas {
  text-decoration: none !important;
  font-size: large;
  color: #76aa8f;
  text-indent: 5px;
}
.leer-mas:hover {
  color: #9ED2BE !important;
}
.leer-mas .plus-read {
  margin-right: 10px;
}

/*** Fin de Botón y texto Leer más ***/
/*** Segunda sección ***/
.seccion1-estrategias {
  margin-top: 80px;
}

.seccion2-estrategias {
  margin-bottom: 100px;
}

/*** Fin de Segunda sección ***/
/* FIN DE PÁGINA ESTRATEGIAS */
/* PÁGINA CONTACTO */
/*** Body ***/
.body-contacto {
  overflow-x: hidden !important;
  width: 100% !important;
}

/*** Fin de Body ***/
/*** Imagen de fondo de la página ***/
.fondo-contacto {
  background-image: url(../img/Fondo5.webp);
}

/*** Fin de imagen de fondo de la página ***/
/*** Títulos ***/
.titulo-seccion.comunidad, .titulo-seccion.contacto {
  font-size: xx-large;
}

.titulo-seccion.comunidad {
  margin-top: 70px;
}

/*** Fin de Títulos ***/
/*** Secciones Miembros y Proyectos ***/
.subtitulo-seccion.proyectos {
  margin-top: 70px;
}

.foto-miembro, .foto-proyecto {
  border-radius: 30px;
  margin: 3px;
}
.foto-miembro:hover, .foto-proyecto:hover {
  filter: opacity(50%);
}

.foto-proyecto {
  width: 90%;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.1);
}

/*** Fin de Secciones Miembros y Proyectos ***/
/*** Sección Mapa ***/
.subtitulo-seccion.mapa {
  margin-left: 250px;
}

.card {
  width: 18rem;
  height: 22rem;
  font-size: large;
  font-weight: bold;
  margin-top: 15px;
}

.mapa {
  margin-right: -180px;
  margin-left: 100px;
}

/*** Fin de Sección Mapa ***/
/*** Sección Contacto ***/
.titulo-seccion.contacto {
  margin-top: 70px;
}

.subtitulo-seccion.consultas {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: -370px;
  font-weight: normal;
}

.card.dos {
  width: 20rem;
  height: 40rem;
  font-weight: normal;
  align-self: center;
  margin-top: -20px;
  margin-left: -30px;
  margin-right: 80px;
}

/*** Fin de Sección Contacto ***/
/*** Formulario ***/
.formulario {
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  background-color: rgb(197, 223, 192);
  border-radius: 50px;
  padding: 25px;
  color: #4a8064;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.formulario .form-check {
  margin-top: 10px;
  align-content: center;
  text-align: left;
}
.formulario input, .formulario textarea, .formulario fieldset, .formulario select {
  margin: 5px 0 5px 0;
  cursor: pointer;
  text-align: center;
  font-size: medium !important;
}
.formulario button {
  background-color: #4a8064;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  margin-top: 15px;
  border-color: #89c4a6;
  border-style: none;
  font-size: large;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
}
.formulario button .submit, .formulario button .reset {
  align-items: center;
}
.formulario button:hover {
  background: #9ED2BE;
}

/*** Fin de Formulario ***/
/* FIN DE PÁGINA CONTACTO */
/* MEDIA QUERIES PÁGINA INICIO */
@media (max-width: 1206px) {
  .carousel.slide {
    display: none;
  }
  .seccion-principal {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .seccion-principal .video.inicio {
    display: none;
  }
  .seccion-principal .articulo1 {
    font-size: larger;
    line-height: 35px;
    margin: 0px 30px 0px 30px;
  }
}
@media (min-width: 992px) {
  .banner.inicio {
    display: none;
  }
}
@media (max-width: 991px) {
  .titulo-articulo {
    font-size: larger !important;
  }
  .articulo1 {
    font-size: large;
    line-height: 35px;
    margin-top: -50px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .titulo-seccion.rel, .titulo-seccion.rel2 {
    font-size: x-large;
  }
  .h5 {
    font-size: 20px !important;
  }
}
/* FIN DE MEDIA QUERIES PÁGINA INICIO */
/* MEDIA QUERIES PÁGINA NOSOTROS */
@media (max-width: 1200px) {
  .video.articulo2 {
    display: none;
  }
  .articulo2 {
    font-size: larger;
    line-height: 35px;
    margin-right: -350px;
    margin-left: 150px;
  }
}
@media (max-width: 991px) {
  .titulo-articulo.nosotros {
    margin-bottom: 30px !important;
    font-size: x-large !important;
  }
  .articulo2 {
    font-size: large;
    line-height: 30px !important;
    margin: 0px !important;
  }
  .titulo-seccion.valores, .titulo-seccion.misiones {
    font-size: x-large;
  }
}
/* FIN DE MEDIA QUERIES PÁGINA NOSOTROS */
/* MEDIA QUERIES PÁGINA RECURSOS */
@media (min-width: 992px) and (max-width: 1199px) {
  .articulo-recursos {
    margin-left: -50px;
    margin-right: -50px;
  }
}
@media (min-width: 850px) and (max-width: 991px) {
  .videorecursos {
    width: 350px;
    height: 250px;
  }
  .articulo-recursos {
    font-size: large;
    margin-left: -80px;
    margin-right: -80px;
  }
  .subtitulo-seccion.rec {
    font-size: x-large;
    margin-top: 20px;
  }
  .botones-recursos1, .botones-recursos2 {
    place-items: center;
  }
}
@media (min-width: 768px) and (max-width: 849px) {
  .articulo-recursos {
    margin-left: -40px;
    margin-right: -40px;
  }
  .subtitulo-seccion.rec {
    font-size: x-large;
    margin-top: 20px;
  }
  .botones-recursos1, .botones-recursos2 {
    place-items: center;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .titulo-seccion.Recursos {
    font-size: x-large !important;
  }
  .videorecursos {
    width: 400px !important;
    height: 250px !important;
    margin-top: 10px;
  }
  .articulo-recursos {
    margin-left: -80px !important;
    margin-right: -80px !important;
    font-size: medium !important;
  }
  .subtitulo-seccion.rec {
    font-size: x-large;
    margin-top: 20px;
  }
  .botones-recursos1, .botones-recursos2 {
    place-items: center;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .titulo-seccion.Recursos {
    font-size: x-large !important;
  }
  .videorecursos {
    width: 400px !important;
    height: 250px !important;
    margin-top: 10px;
  }
  .articulo-recursos {
    margin-left: auto;
    margin-right: auto;
    font-size: medium !important;
  }
  .subtitulo-seccion.rec {
    font-size: x-large;
    margin-top: 20px;
  }
  .botones-recursos1, .botones-recursos2 {
    place-items: center;
  }
}
@media (min-width: 300px) and (max-width: 480px) {
  .titulo-seccion.Recursos {
    font-size: x-large !important;
  }
  .videorecursos {
    width: 280px !important;
    height: 200px !important;
    margin-top: 10px;
  }
  .articulo-recursos {
    margin-left: -20px !important;
    margin-right: -20px !important;
    font-size: medium !important;
  }
  .subtitulo-seccion.rec {
    font-size: x-large;
    margin-top: 20px;
  }
  .botones-recursos1, .botones-recursos2 {
    place-items: center;
  }
  .botonrec {
    width: 150px !important;
    font-size: small !important;
  }
}
/* FIN DE MEDIA QUERIES PÁGINA RECURSOS */
/* MEDIA QUERIES PÁGINA ESTRATEGIAS */
@media (min-width: 300px) and (max-width: 480px) {
  .seccion1-estrategias, .seccion2-estrategias {
    margin-bottom: 50px;
  }
}
/* FIN DE MEDIA QUERIES PÁGINA ESTRATEGIAS */
/* MEDIA QUERIES PÁGINA CONTACTO */
@media (min-width: 991px) and (max-width: 1206px) {
  .body-contacto {
    overflow-x: hidden !important;
    width: 100%;
  }
  .body-contacto .card, .body-contacto .card.dos {
    display: none;
  }
  .body-contacto .subtitulo-seccion.mapa {
    margin: 20px 0px;
  }
  .body-contacto .subtitulo-seccion.consultas {
    margin: 60px 0px 20px 0px;
  }
  .body-contacto .mapa {
    width: auto;
    height: auto;
    margin: 0px;
  }
  .body-contacto .formulario {
    width: 80%;
  }
}
@media (min-width: 300px) and (max-width: 990px) {
  .body-contacto {
    overflow-x: hidden !important;
    width: 100% !important;
  }
  .body-contacto .subtitulo-seccion.mapa, .body-contacto .mapa, .body-contacto .card, .body-contacto .card.dos {
    display: none;
  }
  .body-contacto .foto-miembro, .body-contacto .foto-proyecto {
    width: 100%;
  }
  .body-contacto .subtitulo-seccion.consultas {
    margin: 20px 0px;
  }
  .body-contacto .formulario {
    width: 95%;
  }
}
/* FIN DE MEDIA QUERIES PÁGINA CONTACTO */

/*# sourceMappingURL=style.css.map */
