/* PÁGINA CONTACTO */

.body-contacto {
    overflow-x: hidden !important;
    width: 100% !important;
}

/*** Imagen de fondo de la página ***/

.fondo-contacto {
    background-image: url(../img/Fondo5.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*** Fin de imagen de fondo de la página ***/

/*** Títulos ***/

.titulo-seccion.comunidad, .titulo-seccion.contacto {
    font-size: xx-large;
}

.titulo-seccion.comunidad {
    margin-top: 70px;
}

/*** Fin de Títulos ***/

/*** Secciones Miembros y Proyectos ***/

.subtitulo-seccion.comunidad {
    font-weight: normal;
    margin-bottom: 30px;
}

.subtitulo-seccion.proyectos {
    margin-top: 70px;
}

.foto-miembro {
    border-radius: 30px;
    margin: 3px;
    &:hover {
        filter: opacity(50%);
    }
}

.foto-proyecto {
    border-radius: 30px;
    margin: 3px;
    width: 90%;
    &:hover {
        filter: opacity(50%);
    }
}

/*** Fin de Secciones Miembros y Proyectos ***/

/*** Sección Mapa ***/

.subtitulo-seccion.mapa {
    font-weight: normal;
    margin-left: 250px;
    margin-bottom: 30px;
}

.card {
    width: 18rem;
    height: 22rem;
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: #559374;
    margin-top: 15px;
}

.mapa {
    margin-right: -180px;
    margin-left: 100px;
}

/*** Fin de Sección Mapa ***/

/*** Sección Contacto ***/

.titulo-seccion.contacto {
    margin-top: 70px;
}

.subtitulo-seccion.consultas {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: -370px;
    font-weight: normal;
}

.card.dos {
    width: 20rem;
    height: 40rem;
    text-align: center;
    font-weight:normal;
    color: #559374;
    align-self: center;
    margin-top: -20px;
    margin-left: -30px;
    margin-right: 80px;
}

/*** Fin de Sección Contacto ***/

/*** Formulario ***/

.formulario {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: rgb(197,223,192);
    border-radius: 50px;
    padding: 25px;
    color: #4a8064;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    .form-check {
        margin-top: 10px;
        align-content: center;
        text-align: left;
    }
    input, textarea, fieldset, select {
        margin: 5px 0 5px 0;
        cursor:pointer;
        text-align: center;
        font-size: medium !important;
    }
    button {
        background-color: #4a8064;
        border-radius: 20px;
        width: 120px;
        height: 40px;
        margin-top: 15px;
        border-color: #89c4a6;
        border-style: none;
        font-size: large;
        letter-spacing: 2px;
        color: #ffff;
        cursor: pointer;
        .submit, .reset {
            align-items: center;
        }
        &:hover {
            background: #9ED2BE;
        }
    }
}

/*** Fin de Formulario ***/

/* FIN DE PÁGINA CONTACTO */