/* FOOTER */

footer {
    background-color: #80a993;
    margin-top: 50px;
    border-top-style: solid;
    border-top-color: #C8E4B2;
    border-width: 7px;
}

.logo-footer {
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    margin-bottom: 20px;
}

.enlace-footer {
    list-style-type: none;
    letter-spacing: 2px;
}

ul p {
    letter-spacing: 2px;
}

/* FIN DE FOOTER */