/* FOOTER */

footer {
    background-color: $color-fondo;
    margin-top: $margen-l;
    border-top-style: solid;
    border-top-color: $color-borde;
    border-width: $borde-l;
    .logo-footer {
        align-items: center;
        justify-content: center;
        margin-left: -5px;
        margin-bottom: $margen-xs;
    }
    .enlace-footer {
        list-style-type: none;
        letter-spacing: $margen-xxxs;
    }
    ul p {
        letter-spacing: $margen-xxxs;
    }
}

/* FIN DE FOOTER */