/* HEADER */

.custom-header{
    background-color: $color-fondo;
    border-bottom-style: solid;
    border-bottom-color: $color-borde;
    border-width: $borde-l;
    .logo {
        height: $margen-xxxl;
        margin: $margen-xs;
        padding-left: $margen-xs;
    }
    .navbar-toggler {
        color: $color-white !important;
        margin-right: $margen-s;
    }
    .nav-link, .nav-link.active {
        color: $color-white !important;
        letter-spacing: $margen-xxxs;
        align-items: center !important;
        justify-content: center !important;
        align-content: center;
        &:hover{
            color: $color-hover-header !important;
            border-bottom: $margen-xxxs !important;
        }
    }
}

/* FIN DE HEADER */