/* PÁGINA INICIO */

/*** Carrusel ***/

.carousel-inner, .carousel-item {
    margin: 10px 0px 10px 0px;
    height: 500px; 
}

.carousel-control-prev, .carousel-control-next {
    margin-top: 350px;
}

.carousel-caption {
    font-size: x-large;
    font-weight: bolder;
}

.carousel-item h5, .leyenda-slider {
    margin-right: 600px;
    margin-left: $margen-m;
    color: $color-texto-slider;
}

/*** Fin de Carrusel ***/

/*** Sección principal ***/

.seccion-principal {
    margin-top: $margen-xxl;
    margin-bottom: $margen-xxl;
    .articulo1 {
        text-align: justify;
        line-height: $margen-sxs;
        margin-left: $margen-s;
        .titulo-articulo {
            text-align: center;
            color: $color-titulo-articulo;
            font-size: x-large;
            font-weight: bold;
            margin-top: $margen-xss;
            margin-bottom: $margen-xs;
        }
    }
}

/*** Fin de Sección principal ***/

/*** Secciones secundarias ***/

.elemento-seccion {
    display: grid;
    place-items: center;
    .imgseccion {
        &:hover {
            filter: opacity(50%);
            animation:shake-horizontal 0.8s 
            linear both
        } 
    }
    .enlace-titulo {
        text-decoration: none;
        color: $color-titulo-articulo;
        &:hover {
            color: $color-hover-botones;
        }
    }
    .badge.inicio {
        margin-bottom: 150px !important;
        margin-left: 250px !important;
    }
}
    
@keyframes shake-horizontal {
    0%,100%{transform:translateX(0)}
    10%,30%,50%,70%{transform:translateX(-10px)}
    20%,40%,60%{transform:translateX(10px)}
    80%{transform:translateX(8px)}
    90%{transform:translateX(-8px)}
}

/*** Fin de Secciones secundarias ***/

/* FIN DE PÁGINA INICIO */