/* ELEMENTOS COMUNES DEL MAIN */

/*** Banner ***/

.banner {
    width: 100%;
    margin-top: $margen-s;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: $color-borde;
    border-width: $margen-xxs;
}

/*** Fin de Banner ***/

/*** Videos embebidos ***/

.video {
    width: 560px;
    height: 360px;
    border-style: dotted;
    border-width: $margen-xxss;
    border-color: $color-borde-punteado;
    border-radius: $margen-l;
}

/*** Fin de Videos embebidos ***/

/* FIN DE ELEMENTOS COMUNES DEL MAIN */