/* MEDIA QUERIES PÁGINA INICIO */

@media (max-width: 1206px) {
    .carousel.slide {
        display: none;
    }

    .seccion-principal {
        margin-top: $margen-xxl;
        margin-bottom: $margen-xxl;
        .video.inicio {
            display: none;
        }
        .articulo1 {
            font-size: larger;
            line-height: $interlineado-general;
            margin: 0px 30px 0px 30px;
        }
    }
}

@media (min-width: 992px) {
    .banner.inicio {
        display: none;
    }
}

@media (max-width: 991px) {
    .titulo-articulo {
        font-size: larger !important;
    }
    
    .articulo1 {
        font-size: large;
        line-height: $interlineado-general;
        margin-top: -50px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .titulo-seccion.rel, .titulo-seccion.rel2 {
        font-size: x-large;
    }

    .h5 {
        font-size: $margen-xs !important;
    }
}

/* FIN DE MEDIA QUERIES PÁGINA INICIO */

/* MEDIA QUERIES PÁGINA NOSOTROS */

@media (max-width: 1200px) {
    .video.articulo2 {
        display: none;
    }
    
    .articulo2 {
        font-size: larger;
        line-height: $interlineado-general;
        margin-right: -350px;
        margin-left: $margen-xxxxl;
    }
}   

@media (max-width: 991px) {
    .titulo-articulo.nosotros {
        margin-bottom: $margen-s !important;
        font-size: x-large !important;
    }
    
    .articulo2 {
        font-size: large;
        line-height: $margen-s !important;
        margin: 0px !important;
    }

    .titulo-seccion.valores, .titulo-seccion.misiones {
        font-size:x-large;
    }
}

/* FIN DE MEDIA QUERIES PÁGINA NOSOTROS */

/* MEDIA QUERIES PÁGINA RECURSOS */

@media (min-width: 992px) and (max-width: 1199px) {
    .articulo-recursos {
        margin-left: -50px;
        margin-right: -50px;
    }
}

@media (min-width: 850px) and (max-width: 991px) {
    .videorecursos {
        width: map-get($ancho, videopequenio); 
        height: map-get($alto, videochico);
    }

    .articulo-recursos {
        font-size: large;
        margin-left: -80px;
        margin-right: -80px;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }
}

@media (min-width: 768px) and (max-width: 849px) {
    .articulo-recursos {
        margin-left: -40px;
        margin-right: -40px;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }
    
    .videorecursos {
        width: map-get($ancho, videomediano) !important; 
        height: map-get($alto, videochico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: -80px !important;
        margin-right: -80px !important;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
        max-width: 100% !important;
    }
}

@media (min-width: 481px) and (max-width: 599px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }

    .videorecursos {
        width: map-get($ancho, videomediano) !important; 
        height: map-get($alto, videochico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: auto;
        margin-right: auto;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
        max-width: 100% !important;
    }
}

@media (min-width: 450px) and (max-width: 480px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }

    .videorecursos {
        width: map-get($ancho, videomobile) !important; 
        height: map-get($alto, videomaschico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: -20px !important;
        margin-right: -20px !important;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center !important;
    }

    .botonrec {
        font-size: medium;
        max-width: 60vh !important;
    }
}

@media (min-width: 400px) and (max-width: 449px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }

    .videorecursos {
        width: map-get($ancho, videomobile) !important; 
        height: map-get($alto, videomaschico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: -20px !important;
        margin-right: -20px !important;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center !important;
    }

    .botonrec {
        font-size: medium;
        max-width: 50vh !important;
    }
}

@media (min-width: 375px) and (max-width: 399px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }

    .videorecursos {
        width: map-get($ancho, videomobile) !important; 
        height: map-get($alto, videomaschico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: -20px !important;
        margin-right: -20px !important;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        margin: 0px !important;
        place-items: center !important;
    }

    .botonrec {
        font-size: medium;
        max-width: 40vh !important;
    }
}

@media (min-width: 340px) and (max-width: 374px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }

    .videorecursos {
        width: map-get($ancho, videomobile) !important; 
        height: map-get($alto, videomaschico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: -20px !important;
        margin-right: -20px !important;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        margin: 0px !important;
        place-items: center !important;
    }

    .botonrec {
        font-size: medium;
        max-width: 35vh !important;
    }
}

@media (min-width: 320px) and (max-width: 339px) {
    .titulo-seccion.Recursos {
        font-size: x-large !important;
    }

    .videorecursos {
        width: map-get($ancho, videomobile) !important; 
        height: map-get($alto, videomaschico) !important;
        margin-top: $margen-xss;
    }

    .articulo-recursos {
        margin-left: -20px !important;
        margin-right: -20px !important;
        font-size: medium !important;
    }

    .subtitulo-seccion.rec {
        font-size: x-large;
        margin-top: $margen-xs;
    }

    .botones-recursos1, .botones-recursos2 {
        margin: 0px !important;
        place-items: center !important;
    }

    .botonrec {
        font-size: medium;
        max-width: 30vh !important;
    }
}

/* FIN DE MEDIA QUERIES PÁGINA RECURSOS */

/* MEDIA QUERIES PÁGINA ESTRATEGIAS */

@media (min-width: 300px) and (max-width: 480px) {
    .seccion1-estrategias, .seccion2-estrategias {
        margin-bottom: $margen-l;
    }
}

/* FIN DE MEDIA QUERIES PÁGINA ESTRATEGIAS */

/* MEDIA QUERIES PÁGINA CONTACTO */

@media (min-width: 991px) and (max-width: 1206px) {
    .body-contacto {
        overflow-x: hidden !important;
        width: map-get($ancho, total);
        .card, .card.dos {
            display: none;
        }
        .subtitulo-seccion.mapa {
            margin: 20px 0px;
        }
        .subtitulo-seccion.consultas {
            margin: 60px 0px 20px 0px; 
        }
        .mapa {
            width: auto;
            height: auto;
            margin: 0px;
        }
        .formulario {
            width: map-get($ancho, ochenta);
        }
    }
}

@media (min-width: 300px) and (max-width: 990px) {
    .body-contacto {
        overflow-x: hidden !important;
        width: map-get($ancho, total) !important;
        .subtitulo-seccion.mapa, .mapa, .card, .card.dos {
            display: none;
        }
        .foto-miembro, .foto-proyecto {
            width: map-get($ancho, total);
        }
        .subtitulo-seccion.consultas {
            margin: 20px 0px;
        }
        .formulario {
            width: map-get($ancho, noventaycinco);
        }
    }
}

/* FIN DE MEDIA QUERIES PÁGINA CONTACTO */