/* MEDIA QUERIES PÁGINA INICIO */

@media (max-width: 1206px) {
    .carousel.slide {
        display: none;
    }

    .video.inicio {
        display: none;
    }

    .badge.inicio {
        display: none;
    }

    .seccion-principal {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    .articulo1 {
        font-size: larger;
        line-height: 35px;
        margin: 0px 30px 0px 30px;
    }
}

@media (min-width: 992px) {
    .banner.inicio {
        display: none;
    }
}

@media (max-width: 991px) {
    .titulo-articulo, .titulo-seccion {
        font-size: large !important;
    }
    
    .articulo1 {
        font-size: large;
        line-height: 35px;
        margin-top: -30px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .h5 {
        font-size: 15px !important;
    }
}

/* FIN DE MEDIA QUERIES PÁGINA INICIO */

/* MEDIA QUERIES PÁGINA NOSOTROS */

@media (max-width: 1200px) {
    .video.articulo2 {
        display: none;
    }
    
    .articulo2 {
        font-size: larger;
        line-height: 35px;
        margin-right: -350px;
        margin-left: 150px;
    }
}   

@media (max-width: 991px) {
    .articulo2 {
        font-size: large;
        line-height: 35px;
        margin: 0px;
    }
}

/* FIN DE MEDIA QUERIES PÁGINA NOSOTROS */

/* MEDIA QUERIES PÁGINA RECURSOS */

/*** Tablet ***/
@media (min-width: 992px) and (max-width: 1199px) {
    .articulo-recursos {
        margin-left: -50px;
        margin-right: -50px;
    }
}

@media (min-width: 850px) and (max-width: 991px) {
    .videorecursos {
        width: 350px; 
        height: 250px;
    }

    .articulo-recursos {
        font-size: large;
        margin-left: -80px;
        margin-right: -80px;
    }

    .subtitulo-seccion.rec {
        font-size: larger;
        margin-top: 20px;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }
}

@media (min-width: 768px) and (max-width: 849px) {
    .articulo-recursos {
        margin-left: -40px;
        margin-right: -40px;
    }

    .subtitulo-seccion.rec {
        font-size: larger;
        margin-top: 20px;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .videorecursos {
        width: 400px; 
        height: 250px;
        margin-top: 10px;
    }

    .articulo-recursos {
        margin-left: -80px;
        margin-right: -80px;
    }

    .subtitulo-seccion.rec {
        font-size: larger;
        margin-top: 20px;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }
}

@media (min-width: 481px) and (max-width: 599px) {
    .videorecursos {
        width: 400px; 
        height: 250px;
        margin-top: 10px;
    }

    .articulo-recursos {
        margin-left: auto;
        margin-right: auto;
    }

    .subtitulo-seccion.rec {
        font-size: larger;
        margin-top: 20px;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }
}
/*** Fin de Tablet ***/

/*** Mobile ***/

@media (min-width: 300px) and (max-width: 480px) {
    .videorecursos {
        width: 280px; 
        height: 200px;
        margin-top: 10px;
    }

    .articulo-recursos {
        margin-left: -20px;
        margin-right: -20px;
        font-size: large;
    }

    .subtitulo-seccion.rec {
        font-size: larger;
        margin-top: 20px;
    }

    .botones-recursos1, .botones-recursos2 {
        place-items: center;
    }

    .botonrec {
        width: 150px;
        font-size: small;
    }
}

/*** Fin de Mobile ***/

/* FIN DE MEDIA QUERIES PÁGINA RECURSOS */

/* MEDIA QUERIES PÁGINA ESTRATEGIAS */

/*** Mobile ***/

@media (min-width: 300px) and (max-width: 480px) {
    .seccion1-estrategias, .seccion2-estrategias {
        margin-bottom: 50px;
    }
}

/*** Fin de Mobile ***/

/* FIN DE MEDIA QUERIES PÁGINA ESTRATEGIAS */

/* MEDIA QUERIES PÁGINA CONTACTO */

@media (min-width: 991px) and (max-width: 1206px) {
    .body-contacto {
        overflow-x: hidden !important;
        width: 100%;
    }

    .card, .card.dos {
        display: none;
    }

    .subtitulo-seccion.mapa, .subtitulo-seccion.consultas {
        margin: 20px 0px;
    }

    .mapa {
        width: auto;
        height: auto;
        margin: 0px;
    }

    .formulario {
        width: 80%;
    }
}

@media (max-width: 990px) {
    .body-contacto {
        overflow-x: hidden !important;
        width: 100%;
    }

    .card, .card.dos {
        display: none;
    }

    .subtitulo-seccion.consultas {
        margin: 20px 0px;
    }

    .subtitulo-seccion.mapa, .mapa {
        display: none;
    }

    .formulario {
        width: 80%;
    }
}