/* PÁGINA NOSOTROS */

/*** Imagen de fondo de la página ***/

.fondo-nosotros {
    background-image: url(../img/Fondo2.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*** Fin de imagen de fondo de la página ***/

/*** Sección principal ***/

.seccion-principal2 {
    margin-top: $margen-xxl;
    margin-bottom: $margen-xxl;
    .articulo2 {
        margin-right: $margen-m;
        margin-top: $margen-m;
        text-align: justify;
        line-height: $margen-sxs;
        border-bottom: dashed;
        border-color: $color-borde-inferior;
        .titulo-articulo {
            color: $color-titulo-seccion;
            text-align: center;
            font-size: xx-large;
        }
    }
    .video.articulo2 {
        margin-top: -10px;
        margin-left: -30px;
    }
}

/*** Fin de Sección principal ***/

/*** Sección Valores ***/

.valores {
    margin-bottom: $margen-l;
}

.valores, .misiones {
    display: grid;
    place-items: center;
}

/*** Fin de Sección Valores ***/

/*** Sección Misiones ***/

.img-icono {
    border-style: dotted;
    border-width: $margen-xxss;
    border-color: $color-borde-punteado;
    border-radius: $margen-xxl;
    &:hover {
        animation:wobble-horizontal-top .8s linear both
    } 
}

.img-icono.misiones {
    border-color: $color-alternativo;
}

@keyframes wobble-horizontal-top {
    0%,100%{transform:translateX(0);transform-origin:50% 50%}
    15%{transform:translateX(-30px) rotate(6deg)}
    30%{transform:translateX(15px) rotate(-6deg)}
    45%{transform:translateX(-15px) rotate(3.6deg)}
    60%{transform:translateX(9px) rotate(-2.4deg)}
    75%{transform:translateX(-6px) rotate(1.2deg)}
}

/*** Fin de Sección Misiones ***/

/*** Texto debajo de los íconos ***/

.texto-icono {
    color: $color-texto-imagen;
    font-size: large;
    font-weight: bolder;
    text-align: center;   
    margin-top: $margen-xs;
}

.texto-icono.misiones {
    color: $color-alternativo;
}

/*** Fin de Texto debajo de los íconos ***/

/* FIN DE PÁGINA NOSOTROS */