/* WIDTH */

$ancho:(
    total: 100%,
    noventaycinco: 95%,
    noventa: 90%,
    ochenta: 80%,
    video: 560px,
    videomediano: 400px,
    videopequenio: 350px,
    videomobile: 280px,
    botongrande: 200px,
    botoncomun: 150px,
    botonpequenio: 120px
);

/* FIN DE WIDTH */

/* HEIGHT */

$alto:(
    banner: 500px,
    video: 360px,
    videochico: 250px,
    videomaschico: 200px,
    logoh: 100px,
    boton: 40px
);

/* FIN DE HEIGHT */