/* COLORES */

$color-fondo: #80a993;
$color-titulo-seccion: #4a8064;
$color-titulo-articulo: #7fab94;
$color-fondo-botones: #76aa8f;
$color-fondo-formulario: rgb(197,223,192);
$color-hover-header: #fddc09;
$color-hover-botones: #9ED2BE;
$color-borde: #C8E4B2;
$color-borde-punteado: #89c4a6;
$color-borde-inferior: #7EAA92;
$color-texto: #559374;
$color-texto-imagen: #6bb0a4;
$color-texto-slider: #5ba6a6;
$color-alternativo: rgb(70, 105, 58);
$color-white: #ffffff;

/* FIN DE COLORES */

/* MÁRGENES Y PADDINGS */

$margen-xxxs: 2px;
$margen-xxs: 3px;
$margen-xxss: 5px;
$margen-xss: 10px;
$margen-xsss: 15px;
$margen-xs: 20px;
$margen-sxs: 25px;
$margen-s: 30px;
$margen-sm: 35px;
$margen-m: 40px;
$margen-l: 50px;
$margen-xl: 60px;
$margen-xll: 70px;
$margen-xxl: 80px;
$margen-xxxl: 100px;
$margen-xxxll: 130px;
$margen-xxxxl: 150px;
$margen-xxxxxl: 250px;
$margen-xxxxxll: 420px;

/* FIN DE MÁRGENES Y PADDINGS */

/* INTERLINEADOS */

$interlineado-general: 35px;

/* FIN DE INTERLINEADOS */

/* BORDES */

$borde-l: 7px; 

/* FIN DE BORDES */