/* PÁGINA CONTACTO */

/*** Body ***/

.body-contacto {
    overflow-x: hidden !important;
    width: map-get($ancho, total) !important;
}

/*** Fin de Body ***/

/*** Imagen de fondo de la página ***/

.fondo-contacto {
    background-image: url(../img/Fondo5.webp);
    @extend %imagen-fondo;
}

/*** Fin de imagen de fondo de la página ***/

/*** Títulos ***/

.titulo-seccion.comunidad, .titulo-seccion.contacto {
    font-size: xx-large;
}

.titulo-seccion.comunidad {
    margin-top: $margen-xll;
}

/*** Fin de Títulos ***/

/*** Secciones Miembros y Proyectos ***/

.subtitulo-seccion.comunidad {
    @extend %subtitulo-seccion;
}

.subtitulo-seccion.proyectos {
    margin-top: $margen-xll;
}

.foto-miembro, .foto-proyecto {
    border-radius: $margen-s;
    margin: $margen-xxs;
    @extend %display; 
    &:hover {
        filter: opacity(50%);
    }
}

.foto-proyecto {
    width: map-get($ancho, noventa);
}

.zoom {
    transition: transform .2s;
    &:hover {
        transform: scale(1.1); 
    } 
}

/*** Fin de Secciones Miembros y Proyectos ***/

/*** Sección Mapa ***/

.subtitulo-seccion.mapa {
    @extend %subtitulo-seccion;
    margin-left: $margen-xxxxxl;
}

.card {
    width: 18rem;
    height: 22rem;
    @extend %formato-cards;
    font-size: large;
    font-weight: bold;
    margin-top: $margen-xsss;
}

.mapa {
    margin-right: -180px;
    margin-left: $margen-xxxl;
}

/*** Fin de Sección Mapa ***/

/*** Sección Contacto ***/

.titulo-seccion.contacto {
    margin-top: $margen-xll;
}

.subtitulo-seccion.consultas {
    margin-top: $margen-l;
    margin-bottom: $margen-s;
    margin-right: -370px;
    font-weight: normal;
}

.card.dos {
    width: 20rem;
    height: 40rem;
    @extend %formato-cards;
    font-weight: normal;
    align-self: center;
    margin-top: -20px;
    margin-left: -30px;
    margin-right: $margen-xxl;
}

/*** Fin de Sección Contacto ***/

/*** Formulario ***/

.formulario {
    border-style: solid;
    border-color: $color-white;
    border-width: $margen-xxss;
    background-color: $color-fondo-formulario;
    border-radius: $margen-l;
    padding: $margen-sxs;
    color: $color-titulo-seccion;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    margin-bottom: $margen-l;
    .form-check {
        margin-top: $margen-xss;
        align-content: center;
        text-align: left;
    }
    input, textarea, fieldset, select {
        margin: 5px 0 5px 0;
        cursor:pointer;
        text-align: center;
        font-size: medium !important;
    }
    button {
        background-color: $color-titulo-seccion;
        border-radius: $margen-xs;
        width: map-get($ancho, botonpequenio);
        height: map-get($alto, boton);
        margin-top: $margen-xsss;
        border-color: $color-borde-punteado;
        border-style: none;
        font-size: large;
        letter-spacing: $margen-xxxs;
        color: $color-white;
        cursor: pointer;
        .submit, .reset {
            align-items: center;
        }
        &:hover {
            background: $color-hover-botones;
        }
    }
}

/*** Fin de Formulario ***/

/* FIN DE PÁGINA CONTACTO */