/* PÁGINA RECURSOS */

/*** Banner ***/

.banner-recursos {
    margin-top: $margen-xxxs;
}

/*** Fin de Banner ***/

/*** Imagen de fondo de la página ***/

.fondo-recursos {
    background-image: url(../img/Fondo3.webp);
    @extend %imagen-fondo;
}

/*** Fin de imagen de fondo de la página ***/

/*** Artículo principal ***/

.titulo-seccion.Recursos {
    margin-top: $margen-xl;
}

.vid-recursos {
    @extend %display;
    .videorecursos {
        width: map-get($ancho, video);
        height: map-get($alto, video);
        margin-bottom: $margen-xsss;
        border-radius: $margen-l;
        @extend %estilo-borde;
    }
}

.articulo-recursos {
    font-size: large;
    text-align: justify;
    line-height: $margen-s;
    padding: $margen-xsss;
    margin-bottom: $margen-xss;
    @extend %estilo-borde-inferior;
}

/*** Fin de Artículo principal ***/

/*** Subtítulos secciones secundarias ***/

.subtitulo-seccion.rec {
    margin-top: $margen-m;
    margin-bottom: $margen-m;
}

/*** Fin de Subtítulos secciones secundarias ***/

/*** Imágenes Secciones secundarias ***/

.imgrec.uno, .imgrec.dos {
    @extend %display;
    margin-top: $margen-xss;
    .imagen-recursos, .imagen-recursos2 {
        @extend %estilo-borde;
        border-radius: $margen-l;
    }
}

/*** Fin de Imágenes Secciones secundarias ***/

/*** Botones Secciones secundarias ***/

.botones-recursos1, .botones-recursos2 {
    display: grid;
    .botonrec {
        @extend %formato-texto;
        background-color: $color-fondo-botones;
        padding: $margen-xs;
        display: inline-table;
        border-radius: $margen-s;
        color: $color-white;
        font-size: large;
        text-decoration: none;
        letter-spacing: 0.3px;
        margin-bottom: $margen-xss;
        width: map-get($ancho, botongrande);
        &:hover {
            background: $color-hover-botones;
        }
    }
}

.botones-recursos2 {
    place-items: end;
}

/*** Fin de Botones Secciones secundarias ***/

/* FIN DE PÁGINA RECURSOS */