/* CUESTIONES GENERALES*/

/*** Márgenes y paddings ***/

* {
    margin: 0px;
    padding: 0px;
}

/*** Fin de Márgenes y paddings ***/

/*** Títulos y subtítulos ***/

.titulo-seccion, .subtitulo-seccion {
    color: $color-titulo-seccion !important;
    @extend %formato-texto;
}

.titulo-seccion {
    font-size: 28px !important;
    margin-bottom: $margen-s;
}

.subtitulo-seccion {
    font-size: x-large;
}

/*** Fin de Títulos y subtítulos ***/

/*** Botones ***/

.boton {
    background-color: $color-fondo-botones;
    border-radius: $margen-s;
    color: $color-white;
    padding: $margen-xsss;
    text-decoration: none;
    max-width: fit-content;
    @extend %formato-texto;
    &:hover {
        background: $color-hover-botones !important;
    }    
}

/*** Fin de Botones ***/

/* FIN DE CUESTIONES GENERALES */