/* ELEMENTOS COMUNES DEL MAIN */

/*** Banner ***/

.banner {
    width: map-get($ancho, total);
    margin-top: $margen-s;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: $color-borde;
    border-width: $margen-xxs;
}

/*** Fin de Banner ***/

/*** Videos embebidos ***/

.video {
    width: map-get($ancho, video);
    height: map-get($alto, video);
    border-radius: $margen-l;
    @extend %estilo-borde; 
}

/*** Fin de Videos embebidos ***/

/* FIN DE ELEMENTOS COMUNES DEL MAIN */